<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zujuan.dao.ZhiShiDianMapper">
  <resultMap id="BaseResultMap" type="com.zujuan.pojo.ZhiShiDian">
    <constructor>
      <idArg column="point_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="point_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status_review" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    point_id, parent_id, point_name, status_review
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_zhishidian
    where point_id = #{pointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_zhishidian
    where point_id = #{pointId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zujuan.pojo.ZhiShiDian" useGeneratedKeys="true"
          keyProperty="pointId" keyColumn="point_id">
    insert into tb_zhishidian (point_id, parent_id, point_name, 
      status_review)
    values (#{pointId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{pointName,jdbcType=VARCHAR}, 
      #{statusReview,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zujuan.pojo.ZhiShiDian" keyColumn="pointId" useGeneratedKeys="true">
    insert into tb_zhishidian
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pointId != null">
        point_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="pointName != null">
        point_name,
      </if>
      <if test="statusReview != null">
        status_review,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pointId != null">
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="pointName != null">
        #{pointName,jdbcType=VARCHAR},
      </if>
      <if test="statusReview != null">
        #{statusReview,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zujuan.pojo.ZhiShiDian">
    update tb_zhishidian
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="pointName != null">
        point_name = #{pointName,jdbcType=VARCHAR},
      </if>
      <if test="statusReview != null">
        status_review = #{statusReview,jdbcType=INTEGER},
      </if>
    </set>
    where point_id = #{pointId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zujuan.pojo.ZhiShiDian">
    update tb_zhishidian
    set parent_id = #{parentId,jdbcType=INTEGER},
      point_name = #{pointName,jdbcType=VARCHAR},
      status_review = #{statusReview,jdbcType=INTEGER}
    where point_id = #{pointId,jdbcType=INTEGER}
  </update>

  <select id="selectZhiShiDinaChildrenByParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"></include>
    from tb_zhishidian
    where parent_id = #{parent_id}
  </select>

  <select id="queryPointNamesByStr" resultType="java.lang.String" parameterType="java.lang.String">
    select distinct
    point_name
    from tb_zhishidian
    where point_name like #{pointName}
  </select>

  <select id="queryPointByNullParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from tb_zhishidian
    where parent_id is null
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from tb_zhishidian
  </select>

  <select id="queryZhiShiDianWithoutJianSuo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_zhishidian
    where parent_id = 0
    and point_id not in(select point_id from tb_jiansuo)
  </select>
</mapper>